/* src/components/Button/Button.css */
.custom-btn {
    background-color: #008d3f;
    /* Azul */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-btn:hover {
    background-color: #00ff73;
}